{% extends 'layout.html' %}

{% block title %}Invoice/Quote Generator{% endblock %}

{% block body %}
    <script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>

    <h1>Generate Invoice/Quote</h1>

    <!-- FORM -->
    <form class="row g-3" id="invoiceForm" method="post" enctype="multipart/form-data" action="{% url 'generate_invoice' %}">
      {% csrf_token %}
      {% if error_message %}
        <div class="alert alert-danger" role="alert">
          {{ error_message }}
        </div>
      {% endif %}

      <input type="hidden" name="field_count" id="field_count" value="1">

      <div>
        <h3>Company Information</h3>
    </div>

      <div class="col-md-6">
        <label for="formFile" class="form-label">Logo</label>
        <input class="form-control" type="file" name="formFile" id="formFile">
      </div>

      <div class="col-md-3">
        <label for="inputCName" class="form-label">Company Name</label>
        <input type="text" class="form-control" name="inputBName" id="inputBName" placeholder="Company Name">
      </div>

      <div class="col-md-3">
        <label for="inputPhone" class="form-label">Company Phone Number</label>
        <input type="text" class="form-control" name="company" id="company" placeholder="XXX-XXX-XXXX">
      </div>

      <div class="col-md-6">
        <label for="inputDate" class="form-label">Date (Required) </label>
        <input type="date" placeholder="hello" class="form-control" name="inputDate" id="inputDate">
      </div>

      <div class="col-md-6">
        <div class="col-md-6">
          <div class="form-check form-switch form-check-inline">
              <input class="form-check-input" type="checkbox" id="invoiceTypeSwitch" name="invoice_type" value="invoice">
              <label class="form-check-label" for="invoiceTypeSwitch">Invoice #</label>
          </div>

          <div class="form-check form-switch form-check-inline">
              <input class="form-check-input" type="checkbox" id="estimateTypeSwitch" name="invoice_type" value="estimate">
              <label class="form-check-label" for="estimateTypeSwitch">Estimate #</label>
          </div>
        </div>
        <input class="form-control" placeholder="Invoice or Estimate Number ex: 1" type="number" name="invoice_number" id="invoice_number" min="0" step="1">
      </div>

      <div class="col-md-6">
        <label for="inputEmail4" class="form-label"> Company Email</label>
        <input type="email" class="form-control" name="inputEmail4" id="inputEmail4">
      </div>

      <div class="col-md-6">
        <label for="inputTax" class="form-label">Taxed in %</label>
        <input class="form-control" placeholder="%" type="number" name="taxed" id="tax" min="0" step="1">
      </div>

      <div class="col-12">
        <label for="inputAddress" class="form-label">Company Address</label>
        <input type="text" class="form-control" name="inputAddress" id="inputAddress" placeholder="1234 Main St">
      </div>

      <div class="col-md-6">
        <label for="inputCity" class="form-label">Company City</label>
        <input type="text" class="form-control" name="inputCity" id="inputCity">
      </div>

      <div class="col-md-4">
        <label for="inputState" class="form-label">Company State</label>
        <input type="text" class="form-control" name="inputState" id="inputState">
      </div>

      <div class="col-md-2">
        <label for="inputZip" class="form-label">Company Zip</label>
        <input class="form-control" type="number" name="zip" id="zip" min="0" step="1">
      </div>

      <div class="col-12">
        <label for="statement" class="form-label">Company Statement</label>
        <textarea class="form-control" name="statement" id="Statement" rows="3"></textarea>
    </div>


      <div>
        <h3>Customer Information</h3>
      </div>

      <div class="col-md-6">
        <label for="inputCName" class="form-label">Bill To Name</label>
        <input type="text" class="form-control" name="billTo" id="billTo" placeholder="Bill To">
      </div>
      <div class="col-md-6">
        <label for="inputPhone" class="form-label">Billing Phone Number</label>
        <input type="text" class="form-control" name="billing" id="billing" placeholder="XXX-XXX-XXXX">
      </div>
      <div class="col-12">
        <label for="inputAddress" class="form-label">Billing Address</label>
        <input type="text" class="form-control" name="inputBAddress" id="inputBAddress" placeholder="1234 Main St">
      </div>

      <div class="col-md-6">
        <label for="inputCity" class="form-label">Billing City</label>
        <input type="text" class="form-control" name="BCity" id="BCity">
      </div>

      <div class="col-md-4">
        <label for="inputState" class="form-label">Billing State</label>
        <input type="text" class="form-control" name="BState" id="BState">
      </div>

      <div class="col-md-2">
        <label for="inputZip" class="form-label">Billing Zip</label>
        <input class="form-control" type="number" name="Bzip" id="Bzip" min="0" step="1">
      </div>

      <div>
          <h3>Create Services</h3>
      </div>

        <div class="mb-3">
          <div class="row">
            <div class="col-md-4">
              <label for="quantity1" class="form-label">Quantity</label>
              <input class="form-control" type="number" name="quantity1" id="quantity1" min="0" step="1">
            </div>

            <div class="col-md-4">
                <label for="description1" class="form-label">Description</label>
                <textarea class="form-control" name="description1" id="description1" rows="1"></textarea>
            </div>

            <div class="col-md-4">
                <label for="amount1" class="form-label">Amount</label>
                <input class="form-control" placeholder="$" type="number" name="amount1" id="amount1" min="0" step="1">
            </div>
         </div>
      </div>
        <div id="inputContainer"></div>
        <button type="button" class="btn btn-secondary" id="addField">Add Service</button>
        <div class="col-md-6">
          <label for="description1" class="form-label">Notes</label>
          <textarea class="form-control" placeholder="Any Notes if needed" name="notes" id="notes" rows="4"></textarea>
        </div>
        <div class="col-12">
          <button type="submit" class="btn btn-primary">Generate</button>
        </div>
      </form>

      <script>
        $(document).ready(function() {
            // Initial count of fields
            var fieldCount = 1;

            // Function to add more input fields
            $('#addField').click(function() {
                fieldCount++;
                $('#field_count').val(fieldCount);
                var newField = $('<div class="mb-3" id="field' + fieldCount + '">' +
                                    '<div class="row">' +
                                      '<div class="col-md-4">' +
                                            '<label for="quantity' + fieldCount + '" class="form-label">Quantity</label>' +
                                            '<input class="form-control" type="number" name="quantity' + fieldCount + '" id="quantity' + fieldCount + '" min="0" step="1">' +
                                        '</div>' +
                                        '<div class="col-md-4">' +
                                            '<label for="description' + fieldCount + '" class="form-label">Description</label>' +
                                            '<textarea class="form-control" name="description' + fieldCount + '" id="description' + fieldCount + '" rows="1"></textarea>' +
                                        '</div>' +
                                        '<div class="col-md-4">' +
                                            '<label for="amount' + fieldCount + '" class="form-label">Amount</label>' +
                                            '<input class="form-control" placeholder="$" type="number" name="amount' + fieldCount + '" id="amount' + fieldCount + '" min="0" step="1">' +
                                        '</div>' +
                                    '</div>' +
                                    '<button type="button" class="btn btn-danger removeField">Remove</button></div>'
                                );
                $('#inputContainer').append(newField);
            });

            // Function to remove input fields
            $('#invoiceForm').on('click', '.removeField', function() {
                $(this).closest('.mb-3').remove();
                fieldCount--;  // Update the count when removing a field
                $('#field_count').val(fieldCount);
            });

            // Handle switch change event
            $('.form-check-input').change(function() {
                // Get the value of the selected switch
                var selectedValue = $('input[name="invoice_type"]:checked').val();
            });
        });
          $("#invoiceTypeSwitch").change(function () {
              if ($(this).prop("checked")) {
                  $("#estimateTypeSwitch").prop("disabled", true);
              } else {
                  $("#estimateTypeSwitch").prop("disabled", false);
              }
          });

          $("#estimateTypeSwitch").change(function () {
              if ($(this).prop("checked")) {
                  $("#invoiceTypeSwitch").prop("disabled", true);
              } else {
                  $("#invoiceTypeSwitch").prop("disabled", false);
              }
          });
    </script>

{% endblock %}
